body {
  
   background-image:

    url(asset/back.png);
  background-size: 500px, 300px;
  animation: linear sky 60s infinite;
}

.eye{
  margin: 50px auto;
  width: 200px;
  height: 200px;
  background: rgba(0, 0, 0, 0);
  border-radius: 50%;
  animation: linear moon 120s infinite;
  position: absolute;
  top:25%;
  left:25%;



}

.eye1{
    top:25%;
  left:25%;
}

.eye2{
    top:25%;
  left:60%;
}


@keyframes moon {
  0% {
    box-shadow: -200px 0px 0 -1px #eee;
    transform: translateX(200px);
     background: rgba(0, 0, 0, 0);
  }

  2%{
        box-shadow: -200px 0px 0 -1px #eee;
    transform: translateX(200px);
     background: rgba(0, 0, 0, 0);
  }

   50% {
    box-shadow: 200px 0px 0 0px #eee;
    transform: translateX(-200px);
     background-color:rgba(0, 0, 0, 0);
  }

  52%{
      box-shadow: 200px 0px 0 0px #eee;
    transform: translateX(-200px);
     background-color:rgba(0, 0, 0, 0);
  
}

    100% {
    box-shadow: -200px 0px 0 -1px #eee;
    transform: translateX(200px);
     background: rgba(0, 0, 0, 0);
  }
}
@keyframes sky {
  0% { background-position: 0 0, 1000px 0;
        background-color: #011f4b;
   
  }

    50% { background-position: 300px -20px, 300px 20px;
        background-color: #000000;
   
  }

  100% { background-position: 0 0, 1000px 0;
          background-color:#011f4b;
    
  }
}

