html,body{
	margin: 0px;
	width: 100%;
	height:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: #e5583d;
}


#ball {
	position: absolute;
	top:360px;
	left:200px;
	width: 340px;
	height: 340px;
	background: white;
	-moz-border-radius: 170px;
	-webkit-border-radius: 170px;
	border-radius: 170px;
	box-shadow: inset -25px -25px 40px rgba(0,0,0,.2);
}

#orange1{
	position: absolute;
	top:600px;
	left:460px;
	width: 150px;
	height: 150px;
	background: white;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	box-shadow: inset -25px -25px 40px rgba(0,0,0,.2);
	background-color: #f9a028;

}

#orangeleaf1{
	position: absolute;
	top:560px;
	left:510px;
	width: 60px; height: 60px;
  background-color: #8dcd38; 
  -moz-border-radius: 100px 0px;
  -webkit-border-radius: 100px 0px;
  border-radius: 100px 0px;
  transform: rotate(-100deg);
}

#orange2{
	position: absolute;
	top:60px;
	left:730px;
	width: 150px;
	height: 150px;
	background: white;
	-moz-border-radius: 75px;
	-webkit-border-radius: 75px;
	border-radius: 75px;
	box-shadow: inset -25px -25px 40px rgba(0,0,0,.2);
	background-color: #f9a028;

}

#orangeleaf2{
	position: absolute;
	top:20px;
	left:775px;
	width: 60px; height: 60px;
  background-color: #8dcd38; 
  -moz-border-radius: 100px 0px;
  -webkit-border-radius: 100px 0px;
  border-radius: 100px 0px;
  transform: rotate(-100deg);
}



#bottle{
	position:absolute;
	top:390px;
	left:910px;
	background-color: white;
	opacity: 0.4;
	height:350px;
	width: 200px;
	border-radius:65px 65px 15px 15px;
}

#bottleneck{
	position: absolute;
	top:310px;
	left:965px;
	background-color: white;
	opacity: 0.4;
	height:80px;
	width: 90px;
}

#bottleopen{
	position:absolute;
	top:280px;
	left:950px;
	background-color: white;
	opacity: 0.4;
	height:30px;
	width:120px;
	border-radius: 20px;
}

#cork{
	position:absolute;
	top:260px;
	left:975px;
	border-top: 70px solid #99420c;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 50px;
}

#keyboard1{
	position: absolute;
	top:530px;
	left:500px;
	border-bottom: 100px solid #d5d3c6;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
	width: 450px;
	border-radius: 20px;
}

#keyboard2{
	position: absolute;
	top:618px;
	left:559px;
	height:30px;
	width:450px;
	border-radius: 10px;
	background-color: #9f9c89;
}

#keyboard3{
	position: absolute;
	top:515px;
	left:500px;
	border-bottom: 60px solid #9e9785;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 400px;
}

#keyboard4{
	position: absolute;
	top:570px;
	left:530px;
	height:20px;
	width:400px;
	border-radius: 10px;
	background-color: #786c52;
}

#computer1{
	position:absolute;
	top:200px;
	left:570px;
	background-color: #b9b6a7;
	height:400px;
	width: 300px;
	border-radius:6px;
}

#computer2{
	position: absolute;
	top:400px;
	left:352px;
	border-bottom: 8px solid #8a8571;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 400px;
	transform: rotate(90deg);
}
#computer3{
	position: absolute;
	top:400px;
	left:658px;
	border-bottom: 8px solid #8a8571;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 400px;
	transform: rotate(-90deg);
}

#computer4{
	position: absolute;
	top:188px;
	left:564px;
	height:28px;
	width:313px;
	border-radius: 3px;
	background-color: #dad7d0;
}

#tv {
  position: absolute;
  top:215px;
  width: 220px;
  height: 180px;
  margin: 20px 0;
  background: linear-gradient(to right, black  , #646464 40%, black) ;
  border-radius: 50% / 10%;
  color: #b9b6a7;
  text-align: center;
  text-indent: .1em;
}
#tv:before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}
#computer5{
	position: absolute;
	top:470px;
	left:610px;
	width:20px;
	height: 20px;
	background-color: #aba49e;
}

#computer6{
	position: absolute;
	top:px;
	left:;
	width:90px;
	height:10px;
	background-color: black;
}
