html,body{
	margin: 0px;
	width: 100%;
	height:100%;
	display:flex;
	align-items: center;
	justify-content: center;
	background-color: #d8d0c5;
}
#music{
	position: absolute;
	bottom:0vh;
	height:50px;
	animation-iteration-count: infinite;
	animation-duration: 10s;
	animation-name: opaCity;
}
.background{
	margin:0px;
	width:100%;
}

#ice{
	margin:0px;
	position:absolute;
	width:100%;
	bottom:-10vh;
	left:0px;
	opacity:0.6;
	animation-name: oPacity;
	animation-iteration-count: infinite;
	animation-duration: 10s;
}

#ice2{
	margin:0px;
	position:absolute;
	width:0%;
	bottom:-10vh;
	left:700px;
	opacity:0.6;
	animation-name: oPacity;
	animation-iteration-count: infinite;
	animation-duration: 10s;
} 
@keyframes oPacity{
	0%{
		opacity: ;

	}

	50%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}
@keyframes opaCity{
	0%{
		opacity: 1;

	}

	50%{
		opacity: 0;
	}

	100%{
		opacity: 1;
	}
}

#topice{
	animation-name: oPacity;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	margin:0px;
	position:absolute;
	width:100%;
	left:0px;
	opacity:0.6;
}

@keyframes cookieRun
{
0%{
	left:-500px;

}

100%{
	left:100vw;
}
}



#cherrycookie{
	animation-name: cookieRun;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	margin:0px;
	position:absolute;
	left:0px;
	height:50%;
	top:350px;
}

@keyframes Fall{
	0%{
		top:-100px;
	}

25%{
transform: rotate(30deg);
}

75%{
transform: rotate(-50deg);
}

	100%{
		top:100vh;
	}
}

.cherry{
	animation-name: Fall;
	animation-iteration-count: infinite;
	position: absolute;
}

.c1{
	animation-duration: 4s;
	left:20px;
	height:200px;
}


.c2{
	animation-duration: 5s;
	left:300px;
	height:170px;
}

.c3{
	animation-duration: 2s;
	left:500px;
	height:250px;
}

.c4{
	animation-duration: 9s;
	left:550px;
	height:100px;
}

.c5{
	animation-duration: 3s;
	left:700px;
	height:160px;
}

.c6{
	animation-duration: 10s;
	left:790px;
	height:100px;
}

.c7{
	animation-duration: 4s;
	left:860px;
	height:200px;
}

.c8{
	animation-duration: 2s;
	left:930px;
	height:300px;
}

.c9{
	animation-duration: 3s;
	left:1110px;
	height:300px;
}

.c10{
	animation-duration: 9s;
	left:1230px;
	height:150px;
}

.hov span { 
	position:absolute;
	visibility:hidden;
}
.hov:hover, .hov:hover span { 
	visibility:visible;
	top:25vh; left:35vw;
}

.bottle{
	position: absolute;
	top:5px;
	left:10px;
}

.bottle2{
	position: absolute;
	top:5px;
	right:10px;
}

#logo{
	position:center;

}